<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.linebot.ntpu</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/yuching/Documents/大四/人工智慧導論/final_project/venv/bin/python3</string>
        <string>/Users/yuching/Documents/大四/人工智慧導論/final_project/linebot_app.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/yuching/Documents/大四/人工智慧導論/final_project</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/yuching/Documents/大四/人工智慧導論/final_project/linebot_service.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/yuching/Documents/大四/人工智慧導論/final_project/linebot_service.error.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>

